$red:         #FF847C;
$redred:      #E84A5f;
$yellow:      #FECEA8;
$pink:        #DEA5A4;
$lightorange: #FED9B4;
$green:       #99B898;

$white:       #FFFFFF;
$offwhite:    #FCEEE0;
$black:       #000000;
$offblack:    #2A363B;

$header-height:  80px;
