<div class="row" ng-controller='LandingController'>

    <div id = "section_1">
        <div id="tri"></div>
        <div class="greet" id="trigger1">
            <h1 style="text-align: center" >SpeedShopping


            </h1>

            <p id="main-btn" >
                <span>
                <a class="button" href="#/main">Get started</a>
                <a id = "scroll" class="button">Read more</a>

                </span>
            </p>


        </div>

    </div>
    <div class="transition">
        <div class="btn" id = "scroll_"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
    </div>

    <div id = "intro">
        <div class = "blk medium-6 column c1">
            <div class="content ">
                <img src="./media/ss.PNG">
            </div>
        </div>
        <div class = "blk medium-6 column c2">
            <div class="content " style="text-align: left">
                <h2>Easier</h2>
                <p>
                    A recent trendy idea in English is not to indent the first paragraph, but indent those that follow.
                    For example, Robert Bringhurst states that we should "Set opening paragraphs flush left."[4] Bringhurst
                    explains as follows:
                    A recent trendy idea in English is not to indent the first paragraph, but indent those that follow.
                    For example, Robert Bringhurst states that we should "Set opening paragraphs flush left."[4] Bringhurst
                    explains as follows:
                </p>
            </div>
        </div>


        <div class = "blk medium-6 column c3" >
            <div class="content " style="text-align: left">
                <h2>Faster</h2>
                <p>
                    A recent trendy idea in English is not to indent the first paragraph, but indent those that follow.
                    For example, Robert Bringhurst states that we should "Set opening paragraphs flush left."[4] Bringhurst
                    explains as follows:
                    A recent trendy idea in English is not to indent the first paragraph, but indent those that follow.
                    For example, Robert Bringhurst states that we should "Set opening paragraphs flush left."[4] Bringhurst
                    explains as follows:
                </p>
            </div>
        </div>
        <div class = "blk medium-6 column c4">
            <div class="content ">
                <img src="./media/ss.PNG">
            </div>
        </div>

    </div>
</div>
