<div  ng-controller='LandingController'>
    <header>
        <div class="top-bar-left">
            <p>SpeedShopping</p>
            <!--<a href="#/landing">SpeedShopping</a>-->
        </div>
        <div class="top-bar-right">
            <a href="#/logon">Log on/Register
            </a>
        </div>
    </header>
    <div class="row">
    <div id = "section_1">
        <div id="tri"></div>
        <div class="greet" id="trigger1">
            <h1 style="text-align: center" >SpeedShopping


            </h1>

            <p id="main-btn" >
                <span>
                <a class="button" href="#/main">Get started</a>
                <a id = "scroll" class="button">Read more</a>

                </span>
            </p>


        </div>

    </div>
    <div class="transition">
        <div class="btn" id = "scroll_"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
    </div>

    <div id = "intro">
        <div class = "blk medium-6 column c1">
            <div class="content ">
                <img src="./media/ss.PNG">
            </div>
        </div>
        <div class = "blk medium-6 column c2">
            <div class="content " style="text-align: left">
                <h2>intro:</h2>
                <p>

                    We created SpeedShopper to help you be more efficient when shopping at Walmart.
                    On our website, you follow a very simple process to create a list of what items
                    you need to buy and we then give you the best route to take in-store to pick up all the items you need.
                </p>
            </div>
        </div>


        <div class = "blk medium-6 column c3" >
            <div class="content " style="text-align: left">
                <h2>Recommendation Feed</h2>
                <p>
                    On our main feed page, you can look up items from the Walmart catalog and add them to your cart.
                    We also have some sweet recommendations for what you are most likely to buy so feel free to check them out.
                    You can also convert other users' lists and recipes into a set of items that you can add to your shopping cart.
                </p>
            </div>
        </div>
        <div class = "blk medium-6 column c4">
            <div class="content ">
                <img src="./media/ss.PNG">
            </div>
        </div>

        <div class = "blk medium-6 column c5">
            <div class="content ">
                <img src="./media/ss.PNG">
            </div>
        </div>
        <div class = "blk medium-6 column c6">
            <div class="content " style="text-align: left">
                <h2>Find your Path</h2>
                <p>

                    Click on the create map button on the main feed page to generate a map of Walmart that shows you the most efficient path to take when you enter your local Walmart.
                    As you pick up your items, your cart will update to show what items you have left to buy and where to go in order to get them so you can go back to your life.
                </p>
            </div>
        </div>


    </div>
    </div>


</div>
<footer style="position:relative"></footer>

