<div class="row" ng-controller='MainController'>

	<div id="filter" class="small-12 medium-3 columns">
		<h4>Filters</h4>
		<ul>
			<li><input type="checkbox"> Lists</li>
			<li><input type="checkbox"> Recipes</li>
			<li><input type="checkbox"> Gluten</li>
			<li><input type="checkbox"> Vegetarian</li>
			<li><input type="checkbox"> Vegan</li>
		</ul>
	</div>

	<div id="feed" class="small-12 medium-6 columns">

		<input id="search"></input>
		<div id="scroll">

			<div class="list">
				<div class="name">
					Chocolate Cake
				</div>

				<div class="items">
					<ul>
						<li>Milk</li>
						<li>Eggs</li>
						<li>Butter</li>
						<li>Sugar</li>
						<li>Cocoa</li>
						<li>Flour</li>
						<li>Icing</li>
						<li>Forks</li>
					</ul>
				</div>
				<div class="add"><i class="fa fa-plus" aria-hidden="true"></i></div>
				<div class="more"><i class="fa fa-bars" aria-hidden="true"></i></div>
				<div class="price">$20</div>
			</div>

			<div class="item">
				<div class="name">
					Bread
				</div>
				<div class="add"><i class="fa fa-plus" aria-hidden="true"></i></div>
				<div class="more"><i class="fa fa-bars" aria-hidden="true"></i></div>
				<div class="price">$4</div>
			</div>

		</div>

	</div>

	<div id="cart" class="small-12 medium-3 columns">
		<h4>Cart</h4>
		<ul>
			<li>Bread</li>
			<li>Cheese</li>
			<li>Steve</li>
			<li>Sweet</li>
		<ul>
	</div>

</div>
