<div class="row" ng-controller='MainController'>

	<div id="filter" class="small-12 medium-3 columns">
		<h4>Filters</h4>
		<ul>
			<li><input type="checkbox"> Lists</li>
			<li><input type="checkbox"> Items</li>
			<br>
			<li><input type="checkbox"> Gluten</li>
			<li><input type="checkbox"> Vegetarian</li>
			<li><input type="checkbox"> Vegan</li>
			<br>
			<li><input type="checkbox"> Following</li>
			<li><input type="checkbox"> Saved</li>
		</ul>
	</div>

	<div id="feed" class="small-12 medium-6 columns">

		<input id="search" ng-model="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="64"></input>
		<button class="request disabled" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
		<br><br>

		<div id="scroll">

			<!--<div class="list">
				<div class="name">
					{{thing.name}}
				</div>

				<div class="items">
					<ul>
						<li>Milk</li>
						<li>Eggs</li>
						<li>Butter</li>
						<li>Sugar</li>
						<li>Cocoa</li>
						<li>Flour</li>
						<li>Icing</li>
						<li>Forks</li>
					</ul>
				</div>
				<div class="add"><i class="fa fa-plus" aria-hidden="true"></i></div>
				<div class="more"><i class="fa fa-bars" aria-hidden="true"></i></div>
				<div class="price">$20</div>
			</div>-->

			<div class="item" ng-repeat="thing in ui_data.items">
				<div style="height: 100%, width: 100%, background-image: url('{{thing.largeImage}}');">
					<div class="name">
						{{thing.name}}
					</div>
					<button class="add" ng-click="add_to_cart(thing)"><i class="fa fa-plus" aria-hidden="true"></i></button>
					<button class="more"><i class="fa fa-bars" aria-hidden="true"></i></button>
					<div class="price">${{thing.salePrice}}</div>
				</div>
			</div>

			<div class="item">
				<div class="name">
					Bread
				</div>
				<div class="add"><i class="fa fa-plus" aria-hidden="true"></i></div>
				<div class="more"><i class="fa fa-bars" aria-hidden="true"></i></div>
				<div class="price">$4</div>
			</div>


		</div>

	</div>

	<div id="cart" class="small-12 medium-3 columns">
		<h4 style="color: #99B898">${{total}}</h4>
		<ul id="cartlist">
		</ul>
	</div>

</div>
