<div class="row" ng-controller='MainController'>

	<div id="filter" class="small-12 medium-3 columns">
		<ul>
			<li><input type="checkbox"> Lists</li>
			<li><input type="checkbox"> Recipes</li>
			<li><input type="checkbox"> Gluten</li>
			<li><input type="checkbox"> Vegetarian</li>
			<li><input type="checkbox"> Vegan</li>
		</ul>
	</div>

	<div id="feed" class="small-12 medium-6 columns">

		<input id="search"></input>

		<!--<div id="feed">
			<input id="searchBar"></input>
			<div class="tile">
				<div class="large recipe">

					<div class="media">
					</div>

					<div class="ingredients">
						<ul>
							<li class="first">Sugar</li>
							<li>Flour</li>
							<li>Cocoa</li>
							<li>Baking Powder</li>
							<li>Baking Soda</li>
							<li>Salt</li>
							<li>Eggs</li>
							<li>Milk</li>
							<li>Vegetable Oil</li>
							<li>Vanilla Extract</li>
							<li>Butter</li>
							<li>Powdered Sugar</li>
							<li>Milk</li>
						<ul>
					</div>

				</div>
			</div>

		</div>-->
	</div>

	<div id="cart" class="small-12 medium-3 columns">
		<ul>
			<li>Bread</li>
			<li>Cheese</li>
			<li>Steve</li>
			<li>Sweet</li>
		<ul>
	</div>

</div>
